<div class="prelaunch">
	
	<%= image_tag "logo.gif", :class => "logo" %>

	<p class="din gray copy">Looking for <span class="dark">Made in USA?</span> Look no further.</p>
	<br />
	<p class="din gray copy">Domesticated is a new way to find products made in the USA. We’re still building our database, but we’ll let you know when we’re ready to launch.</p>
	<br/>
	<form action="http://tankjetstudios.us2.list-manage2.com/subscribe/post?u=f130e51d6887144eb949b6c50&amp;id=69be870032" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate email-form" target="_blank">
		<input type="email" placeholder="Enter your email address." value="" name="EMAIL" class="email" id="email" placeholder="email address" required>
		<input type="submit" value="keep me posted" name="subscribe" id="mc-embedded-subscribe" class="input-button din">
	</form>
	<br/>
	<span class="din meantime gray">In the meantime, help us grow our database by <a href="#">adding a company.</a></span>
	<div class="divider"></div>
	<span class="follow">Follow us on</span><span class="din social"><%= image_tag "twitter.gif", :class => "social-img" %>twitter <%= image_tag "facebook.gif", :class => "social-img" %>facebook</span>



	

</div>