<div class="prelaunch">
	
	<%= image_tag "logo.gif", :class => "logo" %>

	<p class="din gray copy">Looking for <span class="dark">Made in USA?</span> Look no further.</p>
	<br />
	<p class="din gray copy">Domesticated is a new way to find products made in the USA. We’re still building our database, but we’ll let you know when we’re ready to launch.</p>
	<br/>
	<form class="email-form">
	<input id="email" type="text" name="email" placeholder="Enter your email address.">
	<input class="input-button din" name="commit" type="submit" value="keep me posted">
	</form>
	<br/>
	<span class="din meantime gray">In the meantime, help us grow our database by <a href="#">adding a company.</a></span>
	<div class="divider"></div>
	<span class="follow">Follow us on</span><span class="din social"><%= image_tag "twitter.gif", :class => "social-img" %>twitter <%= image_tag "facebook.gif", :class => "social-img" %>facebook</span>
</div>